<%- include ("../partials/header") %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Create a New Blog</h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/blogs" method="POST">
                    <div class="form-group">
                        <h5>Title</h5>
                        <input class="form-control" type="text" name="title" placeholder="title">
                    </div>
                    <div class="form-group">
                        <h5>Description</h5>
                        <input class="form-control" type="text" name="description" placeholder="description">
                    </div>
                    <div class="form-group">
                        <h5>Image URL</h5>
                        <input class="form-control" type="text" name="image" placeholder="image url">
                    </div>
                    <div class="form-group">
                        <h5>Medium Link</h5>
                        <input class="form-control" type="text" name="link" placeholder="link">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </form>
                <a href="/blogs">Go Back</a>
            </div>
        </div>
    </div>
    <%- include ("../partials/footer") %>